@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body{
	padding: 0;
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #1E213F;
}
.mainContainer{
	width: 100%;
	max-width: 1440px;
	box-sizing: border-box;
	display: grid;
	padding: 2.2em 2.5em;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 80px auto;
}
@media screen and (max-width: 1110px) {
	.mainContainer{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 800px) {
	.mainContainer{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	.mainContainer .columnLayout{
		width: 100%;
	}
	.mainContainer .columnLayout_subtasks{
		margin-top: 2em;
	}
}

@media screen and (max-width: 512px) {
	.mainContainer{
		padding: 1em 1.2em;
	}
}
