.submitButton{
	align-items: center;
	width: 100px;
	height: 45px;
	text-align: center;
	background-color: white;
	color: #303385;
	border-radius: 6px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	justify-content: center;
	display: flex;
}
.submitButton__time{
	width: 120px;
	grid-area: time;
}
.submitButton__cancel{
	grid-area: cancel;
}
.submitButton__submit{
	grid-area: submit;
	justify-self: end;
	background-color: #303385;
	color: white;
}
