.taskEditWindow{
	width: 450px;
	height: 250px;
	position: absolute;
	padding: 15px;
	top: 20px;
	left: calc(50vw - 250px);
	outline: #00000099 100vw solid;
	border-radius: 4px;
	background-color: #e2e2ee;
	border: solid 4px #303385;
	display: grid;
	justify-content: center;
	grid-template-columns: 20fr 12.5fr 12.5fr;
	grid-template-rows: 60px 150px 60px;
	grid-template-areas:
	"title title title"
	"description description description"
	"time cancel submit";
}
@media screen and (max-width: 767px) {
	.taskEditWindow .submitButton__time{
		display: none;
	}
	.taskEditWindow{
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100% - 38px);
		height: calc(100% - 38px);
		grid-template-columns: 32.5fr 12.5fr;
		grid-template-rows: 60px 60px auto;
		grid-template-areas:
		"cancel submit"
		"title title"
		"description description";
	}
}
