.description{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: max-content;
	box-sizing: border-box;
	color: #D7E0FF;
	padding: 0 1.5em;
	background: #1E213F;
	border-radius: 8px;
	position: relative;
}
.description::after{
	display: block;
	content: "";
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	position: absolute;
	top: -4px;
	left: -4px;
	z-index: -1;
	background: linear-gradient(45deg, #f87070, #d881f8);
	border-radius: 10px;
}
.description_done::after{
	opacity: 0.3;
}
.description__title{
	width: 100%;
	font-size: 28px;
	line-height: 34px;
	padding: 1.2em 0;
}
.description__text{
	opacity: 0.6;
	width: 100%;
}
.description .actionArea{
	width: 50%
}
@media screen and (max-width: 1110px) {
	.description .actionArea{
		width: 100%
	}
}
