.task, .subTask{
	/* width: 360px; */
	width: 90%;
	height: 60px;
	border-radius: 6px;
	border: 4px solid #E2E2ee;
	position: relative;
	display: flex;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #303385;
	background-color: #E2E2ee;
	font-weight: bold;
	font-size: 20px;
	padding-left: 10px;
	user-select: none;
}
.task{
	grid-area: task;
}
.task_focused, .subTask_focused{
	border: 4px solid #303385;
}
.task_unfocused, .subTask_unfocused{
	border: 4px solid #E2E2ee;
}
.task_done, .subTask_done{
	filter: opacity(0.5);
}
.task_atWork, .subTask_atWork{
	filter: opacity(1);
}
@media screen and (max-width: 767px) {
	.task{
		width: calc(100% - 18px);
		border-radius: 6px 6px 0px 0px;
		border-bottom: none;
	}
	.subTask{
		width: calc(100% - 18px);
	}
}
