.actionBox{
	width: min-content;
	height: 50px;
	padding: 0 25px;
	/* margin: 0 auto; */
	margin-bottom: 10px;
	background-color: #30338555;
	border-radius: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition-duration: 0.3s;
}
/* .actionBox div{
	display: none;
} */
.actionBox:hover{
	background-color: #303385;
}
/* .actionBox:hover div{
	display: block;
} */
.actionBox__button{
	width: 36px;
	height: 36px;
	margin: 0 9px;
	background-size: 70%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.actionBox__button:first-child{
	margin-left: 0px;
}
.actionBox__button:last-child{
	margin-right: 0px;
	background-size: 80%;
}
@media (hover:none){
	.actionBox{
		background-color: #303385;
	}
}
